<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycu.zzzh.visual_impairment_3zh.mapper.InfoLogMapper">

    <resultMap id="BaseResultMap" type="com.ycu.zzzh.visual_impairment_3zh.model.domain.InfoLog">
            <id property="logId" column="log_id" jdbcType="INTEGER"/>
            <id property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="logClass" column="log_class" jdbcType="VARCHAR"/>
            <result property="logLevel" column="log_level" jdbcType="VARCHAR"/>
            <result property="logMessage" column="log_message" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,create_time,log_class,
        log_level,log_message
    </sql>
</mapper>
