<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycu.zzzh.visual_impairment_3zh.mapper.UserCollectionsMapper">

    <resultMap id="BaseResultMap" type="com.ycu.zzzh.visual_impairment_3zh.model.domain.UserCollections">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="BIGINT"/>
            <result property="newid" column="newid" jdbcType="BIGINT"/>
            <result property="curtime" column="curtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,newid,
        curtime
    </sql>
    <select id="selColNewsInfoMapper" resultType="com.ycu.zzzh.visual_impairment_3zh.model.result.NewsResult">
        select n.id,n.title,na.author,
               substring(nc.content,1,30) as content,
               nc.words,ns.tag_name,n.views_num,
               n.comment_num,n.created_time,n.raw_key_words
        from news n
                 left join news_content nc on n.content_id = nc.id
                 left join news_author na on n.creator_id=na.id
                 left join news_sort ns on n.tag = ns.id
                 left join user_collections uc on n.id=uc.newid
        <where>
            uc.userid=#{uid}
        </where>
    </select>
</mapper>
